<div class="container">

  <div class="string-interpolation">
    <!-- String InterPolation -->
    <h2>    {{name }} Data - Binding  </h2>
  </div>
  <div class="property-binding">
    <!-- Property Binding -->
    <img [src]="imgUrl" width="400" height="200" />
  </div>

  <div class="event-binding">
    <!-- event binding  -->
    <button (click)="onSave()"> Save </button>
  </div>

  <div class="two-way">

     <h2>Two way data-binding</h2>
     <input [(ngModel)]='fullName'>
     <p>{{fullName}}</p>
  </div>

  <div class="date-range-picker">
    <h2>Date Range Picker</h2>
    <input type="text" matInput ngxDaterangepickerMd [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
      [(ngModel)]="selected" name="daterange" />
    <p>
      <button class="ngx-daterangepicker-action" type="button" (click)="open()">Open</button>
      Selected: {{selected | json}}
    </p>
  </div>

  <div class="defination">
    <p>
      Data-binding means communication between the
    TypeScript code of your component and your template which the user sees.
    Suppose, you have some business logic in your component TypeScript code to
    fetch some dynamic data from the server and want to display this dynamic data
    to the user via template because the user sees only the template. Here, we need
    some kind of binding between your TypeScript code and template (View). This is
    where data-binding comes into the picture in Angular because it is responsible
    for this communication.
    </p>
  </div>

</div>



